*{
 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

.blue{
  background-color: #13357b;
}
.navbar-light{
 position: absolute;
 right: 0%; 

}
.navbar{
  width: 100%;
}

#navbarScrollingDropdown::after{
  border-top-color: #f8f9fa;
}
