*{
 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  
}

.blue{
  background-color: #13357b;
}
html,body{
  height: 100%;
}
.blue.container-fluid{
  position: fixed;
  z-index: 999;
}
.header-icon:hover{
  color: #13357B;
  background-color: white;
}
.navbar-light{
 position: absolute;
 right: 0%; 

}
.navbar.scrolled {
  background-color: white !important;
  color: #13357B;
  border-bottom: hidden;
}
.navbar.scrolled .blue1:hover .nav-link{
  /* background-color: rgb(220, 25, 25) !important; */
  color:white !important;
}

.navbar.scrolled .nav-link, 
.navbar.scrolled #pages, 
.navbar.scrolled h1 {
  color: #13357B !important;
}

.navbar.scrolled .btn {
  color: white !important;
  background-color: #13357B !important;
  border-color: #13357B !important;
}

.navbar.scrolled .custom-navbar {
  transition: color 0.3s ease;
}

/* Custom toggle button color when scrolled */
.navbar.scrolled .custom-toggle {
  border-color: #13357B !important; /* Change border color */
}

.navbar.scrolled .custom-toggle .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28133, 53, 123, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important; /* Change icon color */
}
.border-bottom-custom {
  border-bottom: 0.5px solid rgb(163, 163, 163); /* Adjust thickness if needed */
}
.dropdown-toggle::after {
  display: none !important; /* This hides the default caret */
}
.custom-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px; /* Spacing between text and caret */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white; /* Default color */
}

/* Change dropdown caret color when the navbar is scrolled */
.navbar.scrolled .custom-caret {
  border-top-color: #13357B !important; /* Change caret color to #13357B when scrolled */
}
.blue1{
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding: 35px 15px;
  color: var(--bs-white) !important;
  font-size: 17px;
  font-weight: 400;
  outline: none;
  transition: .5s;
  z-index: 203;
}
.blue1::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 13px;
  left: 0;
  background:#13357B;
  transition: .5s;
  z-index: -203;
}
.blue1:hover::before{
  height: 78px;
  background-color: #13357B;
}
.navbar{
  width: 100%;
/* margin-top: 65px;
position: sticky;
top: 0; */

 
  z-index: 1000;


  
}



/* .blue1:hover{
  background-color: #13357b;
  height: 100px;
 
} */


#navbarScrollingDropdown::after{
  border-top-color: #f8f9fa;
}
.carousel .carousel-item{
  
}
.carousel .carousel-caption{
 position: absolute;
 top: 30%;
}
.carousel .carousel-caption .btn:hover{
  background-color: white;
}
.h11{
  font-weight:bold;
  font-size: 65px;
  /* font-family:''Roboto', sans-serif'; */
}
  

.custom-toggle {
  border-color: white !important; /* White border for the toggle button */

}
.custom-toggle .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important; /* White icon for the toggle */
}
.blue .btn{
  top: 25px;
    right: 5px;
    transform: translateY(-50%);
    background-color: #13357b;
    color: white;
    transition: backgroundcolor 5s;
}
.blue .btn:hover{
  background-color: #f8f9fa;
  color:#13357b;
}

.search{
left: 12%;
bottom: -28%;
z-index: 200;
  background-color: #13367be3;
}
.carousel-control-next .carousel-control-next-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 25px 30px;
  border-top-left-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 0;
  background-size: 60% 60%;
  color: white;
  background-color: #13357b;
}
 .carousel-control-prev .carousel-control-prev-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 25px 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 50px;
  background-size: 60% 60%;
  /* filter: invert(1); */
  /* background: #0e74da; */
  background-color:#13357b;

}
.carousel-control-prev-icon {
  background-color: blue !important;
}

#discovernow{
  background-color: #13357b;
  color:white;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 202;
}
#discovernow::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f8f9fa;
  z-index: -202;
  border-radius: 10rem;
  transition: 0.5s ease all;
  transform: scale(0,1);
  transform-origin: bottom left;
  transition: transform 500ms cubic-bezier(0.86,0,0.07,1);
  transition-timing-function: cubic-bezier(0.86,0,0.07,1);
}
#discovernow:hover::after{
  transform: scale(1,1);
  transform-origin: top left;
  color: #13357B;
}
#discovernow:hover{
  /* background-color: white; */
  color:#13357b;
  box-shadow: inset 300px 0 0 0 var(--bs-light) !important;
}
#pages{
  color: white;
}

.register{
  margin-left: 870px;
}
.welcome{
  /* background-image: url("/public/about-img-1.png"); */
}
.colorBlue{
  color: #13357B;
}
.para{
  height: 305px;
  position: relative;
}

.para::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 95%;
   top: 95px;
   right: 0;
   background-color: #13357B;
   transform: skewY(25deg);
   z-index: -205;
}
.para1{
  height: 301px;
  position: relative;
}
.para::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 95%;
   top: 95px;
   left: 0;
   background-color: #13357B;
   transform: skewY(-25deg);
   z-index: -205;
}

.serviceIcon{
  font-size: 450%;
 
}
.justi{
  text-align: justify;
}
.grey{
  color: grey;

}
.services-div:hover{
  background-color: #13357B;
  color: white;
}
.services-div:hover .serviceIcon {
  color: white;
}
.services-div:hover .grey{
  color: white;
}
.destiBtn{
  width: 130px;
  border: 1px solid #13357B !important;
}
.active-btn{
  
  border: 1px solid #13357B !important;
  background-color: #13357b !important;
  color: white !important;
}
.dest-img{
  height: 590px !important;
}
.tour-gallery{
  display: flex;
  justify-content: center;
  /* margin: auto; */
  /* width: 150px; */
}
.div-popimg{
  overflow: hidden;
  border-radius: 16px;
  background-color: #13357B;
  position: relative;
}
.div-popimg img{
  object-fit: cover;
  transition: transform 0.8s;
  height: 100%;
  display: block;

}

.div-popimg:hover img{
  transform: scale(1.5);
 
}


.div-popimg .opaci {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #13357b;;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease; /* Smooth transition */
}

.div-popimg:hover .opaci {
  opacity: 0.5; /* Show the overlay on hover */
}
.plus{
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  background-color: #f8f9fa;
  padding: 10px;
  
  

  
  display: none;
  

 
 
}
.div-popimg:hover .plus{
  border: 1px solid white;
  display: block;
}
#i{
  background-color:white;
  color:#13357B !important;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 202;
}
#i::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #13357B;
  z-index: -202;
  border-radius: 10rem;
  transition: 0.5s ease all;
  transform: scale(0,1);
  transform-origin: bottom left;
  transition: transform 500ms cubic-bezier(0.86,0,0.07,1);
  transition-timing-function: cubic-bezier(0.86,0,0.07,1);
}
#i:hover::after{
  transform: scale(1,1);
  transform-origin: top left;
  color: white ;
 
}
#i:hover {
  color: white !important; /* Change text color to white on hover */
}
.info {
  height: 200px;
  width: 100%;
  top: 100%; /* Start from the bottom (just below the container) */
  color: #f8f9fa;
 
  box-sizing: border-box;
  position: absolute;
  transform: translateY(100%); /* Initial position - hidden */
  transition: transform 0.5s ease, top 0.5s ease; /* Smooth transition */
}

.div-popimg:hover .info {
  top: 60%; /* Move to the top */
  transform: translateY(0); /* Animate into view */
  transform: scale(1.1); /* Optional: Add scale effect */
}
.info a{
  color: white;
}
.info a:hover{
  color:blue;
}

.explore{
  color: white;
  position: absolute;
  top: 60%;
  left: 27%;
}

.explore1{
  color: black;
  position: absolute;
  top: 88%;
  left: 7%;
}
.link {
  position: absolute;
  top: 35%; 
  right: 50%; 
  z-index: 10;
  display: none;
  color: white;
  font-size: 30px;
}
.div-popimg:hover .link{
  display: block;
}
.touri-img{
  border-radius: 16px;
  width: 100%;      /* Ensure image takes the full width of its container */
  height: auto;     /* Maintain aspect ratio */
  object-fit: cover;
  object-fit: cover;
  transition: transform 0.8s;
 
}
.div-touriimg{
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 7px;  

  background-color: #13357B;
  position: relative;
}
.div-touriimg:hover img{
  transform: scale(1.5);
 
}
.div-touriimg .opaci {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #13357b;;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease; /* Smooth transition */
}
.div-touriimg:hover .opaci {
  opacity: 0.8; /* Show the overlay on hover */
}
.div-touriimg .info {
  height: 200px;
  width: 100%;
  top: 100%; /* Start from the bottom (just below the container) */
  color: #f8f9fa;
 
  box-sizing: border-box;
  position: absolute;
  transform: translateY(100%); /* Initial position - hidden */
  transition: transform 0.5s ease, top 0.5s ease; /* Smooth transition */
}

.div-touriimg:hover .info {
  top: 75%; /* Move to the top */
  transform: translateY(0); /* Animate into view */
  transform: scale(1.1); /* Optional: Add scale effect */
}
.touri-plus{
  font-size: 35px;
  color:white;
 display: none;
  top:40%;
  left: 42%;
  position: absolute;
 
}

.div-touriimg:hover .touri-plus{
  display: block;
}
.card-img {
  position: relative;
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  overflow: hidden; /* Ensure child elements don't overflow */
}

.card-img img{
  object-fit: cover;
  transition: transform 0.8s;
  height: 100%;
  display: block;
}

.card-img:hover img{
  transform: scale(1.5);
}
.packCard{
  flex: 0 0 400px;
  /* padding: 10px; */
  height: 200px;
}
.div-ballonImg{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/tour-booking-bg.jpg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 53, 123, 0.6); /* #13357b with transparency */
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-footerImg{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/carousel-2.jpg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footerBtn{
  background-color: #13357B;
  right: 25px;
  top: 10px;
}

.footerA a{
  text-decoration: none;
  color: #f8f9fa;
  font-weight: 500;
  /* padding-top: 5px !important; */
}
.BlogCardFooter{
  height: 100px;
}

.explore1{
  /* background-color: ; */
  width: 100%;
  position: absolute;
  top: 88%;
  padding-left: 25px;
  border: 1px solid white;
}

.guideCard {
  font-family: 'Roboto', sans-serif;
  position: relative;
  /* padding: 35px 15px; */
  color: var(--bs-white) !important;
  font-size: 17px;
  font-weight: 400;
  outline: none;
  transition: .5s;
  z-index: 203;
}

.guideCard::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0px;
  bottom: 0px;
  left: 0;
  background: #13367b81;
  transition: .5s;
  z-index: 203;
}

.guideCard:hover::before {
  border-radius: 2%;
  height: 339px;
  background-color: #13367b81;
}

.guideBody {
  /* font-family: 'Roboto', sans-serif; */
  position: relative;
  /* padding: 35px 15px; */
  /* color: var(--bs-white) !important; */
  font-size: 17px;
  font-weight: 400;
  outline: none;
  transition: .5s;
  z-index: 203;
}

.guideBody::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0px;
  bottom: 0px;
  left: 0;
  background: #13367b81;
  transition: .5s;
  z-index: 203;
}

.guideBody:hover::before {
  border-radius: 2%;
  height: 114px;
  background-color: #13357b;
}

.GuideSocial{
  background-color: #13357B;
  color: #f8f9fa;
  margin-top: 5px;
  margin-bottom: 5px;
}
.div-GuideSocial{
  border: 1px solid #13357B;
  background-color: white;
  position: absolute;
  left: 13%;
  top: 70%;
  z-index: 204;
  /* margin-bottom: 25px; */
}
.ico{
  color: #13357B;
  font-size: 45px;
  margin-top: 15px;
}
.div-contact p{
  color: grey;
  line-height: 10px;
  
}
.div-contact h3{
  color: #13357B;
  padding-bottom: 5px;
}
.testiDiv{
  border-radius: 15px;
  
}
.testi img{
   width: 100px;
   position: absolute;
   top:43%;
   left: 38%;
  
   
}

.testi-i{
  color: #13357B;
  line-height: 5px;
}

.packCard1{
  flex: 0 0 400px;
  /* padding: 10px; */
  height: 200px;
}
.center-background {
  background-color:#13357B !important;
  color: white !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.center-background .p-3 {
  color: white !important;
}
@media  (max-width:426px){

  
    .cimg {
      height: 890px !important;
      width: 100% !important;
    }
  
    /* Adjusting main title font size */
    .h11 {
      font-size: 40px !important; /* Ensure the font size changes */
    }

    .search{
      bottom: -49% !important;
    }
    .h55{
      font-size: 10px;
    }
    .para::after{
      position: absolute;
      content: '';
      width: 100%;
      height: 49% !important;
       top: 65px !important;
       right: 0;
       background-color: #13357B;
       transform: skewY(25deg);
       z-index: -205;
    }
   
    .para::before{
      position: absolute;
      content: '';
      width: 100%;
      height: 49% !important;
       top: 65px !important;
       left: 0;
       background-color: #13357B;
       transform: skewY(-25deg);
       z-index: -205;
    }
    .aboutus{
      padding-top: 30px !important;
    }
    .arrow{
      margin-right: 170px;
    }
    .gery{
     word-spacing: -10px;
    }
    .serviceIcon{
      margin-top: 70px !important;
    }
    .meetGuide{
      margin-left: 30px;
    }
    .footerPara{
  margin-left: 55px !important;
}
.tour-gallery{
  display: block;
 }
  } 


   @media (max-width:768px){
    .search{
      bottom: -35%;
    }

.cimg{
 height: 800px;
}
.h11{
  font-size: 60px;
}
.h55{
}
.h33{
  margin-top: -60px;
  font-size: 23px;

}
.custom-navbar {
  background-color: white !important;
  width: 32%;
}

.custom-navbar .nav-link {
  color: #13357B !important;
}
.h11{
font-size: 60px;
}
#pages{
  color: #13357B;
}
.blue1:hover{
  background-color:white;
  color: white;
}
.para{
  height: 405px;
}
.para::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
   top: 135px;
   right: 0;
   background-color: #13357B;
   transform: skewY(25deg);
   z-index: -205;
}

.para::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
   top: 135px;
   left: 0;
   background-color: #13357B;
   transform: skewY(-25deg);
   z-index: -205;
}
.aboutus{
  padding-top: 350px;
}
.touri-img1{
  height: 40px;
}

} 
 @media (min-width:769px) and (max-width:1024px){
  .register{
    margin-left:370px;
  }
  .search{
    bottom: -27%;
  }
  .h11{
    font-size: 48px;
    
  }
  .cimg{
    height: 750px;
   }
   .para::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 60%;
     top: 60px;
     right: 0;
     background-color: #13357B;
     transform: skewY(25deg);
     z-index: -205;
  }
 
  .para::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 60%;
     top: 60px;
     left: 0;
     background-color: #13357B;
     transform: skewY(-25deg);
     z-index: -205;
  }
  .para{
    margin-top: 35%;
  }
  .serviceIcon{
    margin-top:30px;
  }
  .grey{
    font-size: 15px;
    letter-spacing: 0px;
    
  }
  .dest-img{
    height: 420px !important;
  }
 
}
@media (min-width:1025px) and (max-width:1440px) {
  .register {
    margin-left: 770px;
  }
  .search{
    bottom: 5%;
  }
}





